In [7]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [10]:
for i in range(1,6,2):
    print(i)

1
3
5

In [17]:
a = [1,2,3,4]

In [18]:
a.append(5)

In [19]:
a

[1, 2, 3, 4, 5]

In [20]:
a.insert(2,7)

In [21]:
a

[1, 2, 7, 3, 4, 5]

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]

In [26]:
for i in a:
    multiply = i*2
print(i)

10

Write a for loop that iterates over every element of a list, multiplies every element by 2, and prints the answer.

In [8]:
numbers = [1,2,3,4,5,6,7,8,9,10]
for num in numbers:
    result = num * 2
    print(result)

2
4
6
8
10
12
14
16
18
20

Write a code that combines two list.

In [9]:
a = [1,2,3,4]
b = [5,6,7,8]

In [10]:
c = a + b
c

[1, 2, 3, 4, 5, 6, 7, 8]

Write a code that checks if the element 5 exists in the list; print "Yes, it exists," otherwise "No, it is not in the list."

In [11]:
a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [13]:
if 44 in a:
    print("Yes, it exists.")
else:
    print("No, it is not in the list")

No, it is not in the list

Write a code that multiplies every element of one list with each and every element of another list.

In [20]:
list_one = [1,2,3,4]
list_two = [5,6,7,8]

In [21]:
for a in list_one:
    for b in list_two:
        result = a * b
        print(result)

5
6
7
8
10
12
14
16
15
18
21
24
20
24
28
32

Write a code that prints whether the element in the list is even or not.

In [22]:
a = [1,2,3,4,5,6,7,7,8,9,10]

In [27]:
for i in a:
    if i % 2 == 0:
        print(i)

2
4
6
8
10

Write a code that checks if the element in the list is greater than 5, then multiply the element by 2 and save in another list, if it less than 5 then save the number as it is another list.

In [32]:
a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
empty_list_multiply_5 = []
empty_list_less_5 = []

In [33]:
for i in a:
    if i > 5:
        empty_list_multiply_5.append(i *2)
    else:
        empty_list_less_5.append(i)
print("Greater than 5", empty_list_multiply_5)
print("Less than 5", empty_list_less_5)

Greater than 5 [12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]
Less than 5 [1, 2, 3, 4, 5]

Reversed the entire list without using reversed keyword.

In [34]:
a = [1,2,3,4,5,6,7,8,9,10]

In [35]:
reversed_without_reversedkeyword = a[::-1]
print(reversed_without_reversedkeyword)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Write a code that finds the sum of all element in a list.

In [37]:
a = [1,2,3,4,5,6,7,8,9,10]
res = sum(a)
print(res)

55

List

In [1]:
a = [1,2,3,4,5,6,7,8,9,10]
a[4] = 11
a

[1, 2, 3, 4, 11, 6, 7, 8, 9, 10]

Tuple

In [ ]:
a = (1,2,3,4,5,6,7,8,9,10)
a[2] = 11
a

In [9]:
a = [1,2,3,4,5,6,7,8,(9,10)]
a[8] = (11,10,14)
a

[1, 2, 3, 4, 5, 6, 7, 8, (11, 10, 14)]

In [ ]:
a = (1,2,3,4,5,6,7,8,[9,10])
a[8] = (12)
a

Sets

In [11]:
myset = {"Apple", "Banana", "Orange"}
myset.add("Mango")
myset

{'Apple', 'Banana', 'Mango', 'Orange'}

Dictionary

In [14]:
thisdict = {
    "Brand": "Ford",
    "Model": "Mustang",
    "Year": 1988,
    "Colour": ["red", "Blue", "White"]
}
thisdict

{'Brand': 'Ford',
 'Model': 'Mustang',
 'Year': 1988,
 'Colour': ['red', 'Blue', 'White']}

In [15]:
thisdict["Colour"]

['red', 'Blue', 'White']

Questions

1. Write a function that takes a list and returns a tuple containing all even numbers.

In [25]:
a = [1,2,3,4,5,6,7,8,9,10]
even = []
def ret_tup():
    for i in a:
        if i % 2 == 0:
            even.append(i)
    return tuple(even)
print(ret_tup())

(2, 4, 6, 8, 10)

2.Write a function that takes a dictionary and prints each key-value pair using a loop.

In [26]:
mydict = {
    "Brand": "Ford",
    "Model": "mustang",
    "Year": 1988
}

In [31]:
for key, value in mydict.items():
    print(f"{key}: {value}")

Brand: Ford
Model: mustang
Year: 1988

3. Write a fuction that take a tuple and return a list of all the element multiply by 2

In [47]:
a = (1,2,3,4,5,6,7,8,9,10)
result = []

In [48]:
def ele_mul_2(t):
    for i in t:
        result.append(i * 2)
    return result
print(ele_mul_2(a))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

4. Write a function that takes two lists and returns a dictionary where the first list is the key and the second is the value.

In [49]:
a = ("Brand", "Model", "Year")
b = ("Ford", "Mustang", 1988)

In [50]:
res = dict(zip(a, b))
print(res)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1988}

Write a function that takes a list and returns the count of element greater than 10.

In [65]:
a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

In [66]:
def cou_ele_gre_10(lst):
    count = 0
    for i in lst:
        if i > 10:
            count += 1
    return count
print(cou_ele_gre_10(a))

5